<h1>Productos</h1>

{{#if products}}
  <div class="product-list">
    {{#each products}}
      <div class="product">
        <h3>{{this.title}}</h3>
        <p>Precio: ${{this.price}}</p>
        <p>Categoría: {{this.category}}</p>
        <p>Stock: {{this.stock}}</p>
        <p>Disponible: {{this.available}}</p>
        <a href="/products/{{this._id}}">Ver detalles</a>
      </div>
      <br />
    {{/each}}
  </div>

  
  <div class="pagination">
    {{#if hasPrevPage}}
      <a href="{{prevLink}}">&laquo; Anterior</a>
    {{/if}}
    Página {{page}} de {{totalPages}}
    {{#if hasNextPage}}
      <a href="{{nextLink}}">Siguiente &raquo;</a>
    {{/if}}
  </div>

{{else}}
  <h2>No hay productos disponibles.</h2>
{{/if}}
